
/*-----General styling-----*/
$font-family-theme: "Lato", sans-serif;

/*-----Top navigation-----*/
$topnav-bg: $light;
$topnav-brand-height: 60px;

/*-----More information tiles-----*/
$info-card-header-bg: $dark-blue;

/*-----Section navigation tiles-----*/
$nav-card-bg: $light;
$nav-card-header-bg: $light-blue;
$nav-card-header-color: $blue;
$nav-card-badge-color: $white;
$nav-card-badge-bg: $blue;
$nav-card-badge-color-hover: $blue;
$nav-card-badge-bg-hover: $light-blue;

/*-----Footer-----*/
$footer-bg: $dark-blue;
$footer-color: $white;
$footer-link-color: $white;
$footer-copyright-bg: #00000033;

/*-----Events & news-----*/
$news-border-color: $dark-blue;
