/*-----General styling-----*/
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

@media (min-width: 992px) {
    main h1:not(.has-subtitle):not(.blurb-title),
    main .h1:not(.has-subtitle) {
        margin-top: -1rem;
    }
}

.bg-light-x {
    background-color: $light-x;
}

/*-----Sidebar-----*/

//RDM wheel in sidebar
.sidebar_rdm {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 992px) {
    .sidebar_rdm {
        width: 200px;
    }
}

li ul .sidebar_rdm_sub {
    border-color: $light;
    padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0px 0px $border-radius $border-radius;
    border-style: none solid solid solid;
    border-width: 0.2em;
    margin-top: -0.25rem;
}

.sidebar-title {
    border-bottom: 0.2rem solid $blue;
    font-weight: bold;
    padding-bottom: $input-btn-padding-y - 0.2rem;
}

#side-nav > ul {
    margin-top: $spacer * 0.5;
}

/* -----Homepage----- */

.landingpage {

    .h-icon-6 {
        height: 6em;
        justify-content: left;
        padding-bottom: 20px;
    }
    .h-icon-5 {
        height: 5em;
    }
    .h-icon-4 {
        height: 4em;
    }

    h1 {
        font-size: 4rem;
        font-weight: 800 !important;
    }

    h2 {
        font-weight: 700 !important;
        font-family:  $font-family-theme;
        color: $dark-blue !important;
    }

    h3 {
        font-weight: 400 !important;
        font-family:  $font-family-theme;
        color: $blue !important;
    }

}

// Search box

section#search-section {
    form {
        max-width: 600px;
    }

    #search-results {
        right: unset;
    }
    .input-group-text {
        font-size: 1.5rem;
    }

    
}


/*-----Section navigation tiles-----*/

.navigation-tiles {
    .card:hover {
        box-shadow: $box-shadow;
    }

    .card-header {
        a:hover {
            text-decoration: none;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}

.navbar-nav .nav-item > a.active {
    background-color: $blue;
    color: #fff !important;
}

.navigation-tiles .card button {
    background-color: $blue !important;
    color: $light !important;
}

.navigation-tiles .card button:hover {
    background-color: $light-blue !important;
    color: $dark-blue !important;
}

.navigation-tiles .card .card-header a {
    color: $blue !important;
    text-decoration: none !important;
}

.navigation-tiles .card .card-header {
    background-color: $light-blue;
    text-decoration: none !important;
}

.stretched-link a {
    text-decoration: none !important;
}
/*== banner styles landing page ===*/


.banner-area {
    position: relative;
    z-index: 5;
    padding-top: 50px;
    padding-bottom: 110px;
    overflow: hidden;

    & .banner-shape-1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 68%;
        z-index: -1;

        @media #{$desktop} {
            width: 63%;
        }

        @media #{$lg} {
            width: 75%;
        }

        & img {
            width: 100%;
        }

        & .line{
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            z-index: 1;
        }
    }
    & .banner-shape-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        z-index: -1;

        & img {
            width: 100%;
        }
    }
    & .banner-shape-3 {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;

        @media #{$xs}{
            width: 150px;
        }
    }
}

.banner-content-wrapper {    
    padding-bottom: 10px;

    & .banner-image{
        margin-top: 10px;

    }
}

// Counters on landing page

.banner-counter{
    padding-top: 20px;

    & .counter-title{
        & .title{
            font-size: 24px;
            font-weight: 600;
            color: $blue;
        }
    }

    & .counter-wrapper{
        padding-top: 40px;
    }

    & .single-counter{
        margin-top: 30px;

        & .count-content{
            font-size: 16px;
            font-weight: 300;
            color: $blue;
            display: block;

            & .count{
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
                color: $blue;
            }
            & span{
                color: $orange;
            }
        }
    }
}

/*=====Features in landing page ====*/

.features-area {      
    padding-top: 120px;
    position: relative;
    z-index: 5;
    overflow: hidden;

    &::before{
          position: absolute;
          content: '';
          background-color: $light;
          width: 100%;
          height: 80%;
          top: 0;
          left: 0;
          z-index: -1;
    }
}

.features-wrapper{
    padding-top: 18px;
}

h2 {
    &.title{
        font-size: 50px;
        font-weight: 300; 
    }
}

.single-features{
    background-color: $white;
    box-shadow: (0px 10px 30px 0px rgba(0, 0, 0, 0.05));
    padding: 60px 60px 23px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 65px;
    border-radius: 5px;
    @include transition(0.3s);
    position: relative;
    z-index: 5;   
    

    &::before{
          position: absolute;
          content: '';
          bottom: -170px;
          right: -170px;
          width: 0;
          height: 0;
          border-bottom: 170px solid rgba($light, 0.2);
          border-left: 170px solid transparent;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          @include transition(0.3s);
    }
   
    & .features-content{
          & .features-title{
                & a{
                      font-size: 26px;
                      line-height: 24px;
                      font-weight: 800;
                      color: $dark-blue;
                      @include transition(0.3s);
                      margin-top: 32px;
                      text-decoration: none;
                }
          }
          & p{
                margin-top: 10px;
                @include transition(0.3s);
          }
    }
    

    &.features-1{

          &:hover{
                background-color: $light-orange;

                & .features-content{
                      & .features-title{
                            & a{
                                  color: $orange;
                            }
                      }
                      & p{
                            color: $dark-blue;
                      }
                }
          }
    }
    

    &:hover{

          &::before{
                bottom: 0;
                right: 0;
                opacity: 1;
                visibility: visible;
          }
    }
}




/*-----Top navigation-----*/

.navbar-nav .nav-item > a {
    white-space: nowrap;
    &.active {
        background-color: $blue;
        border-radius: $border-radius;
    }
}

/*----- Buttons -----*/
.home-button {
    display: block;
    float: left;
    margin: 10px auto;
    background-color: $orange;
    color: #fff;
    border:none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
    padding: 10px;
    
}

.home-button:hover {
    background-color: $blue;
    transition: 0.7s;
}

.home a{
    text-decoration: none;
}

.stretched-link a{
    text-decoration: none;
}

.undefined a{
    text-decoration: none;
    color: $blue;
}


/*----- Youtube containers -----*/
.embed-container {
    position: relative;
    width: 60%;
    padding-bottom: 30%; 
    height: 0;
  }
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
